html {
	scroll-behavior: smooth;
}

body {
	font-family: Intertight Variablefont Wght, sans-serif;
}

.navbar-expand-lg .navbar-brand {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
}
nav.navbar-expand-lg {
	background-color: #01060c;
}

.navbar-expand-lg .navbar-brand {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
}

.nav-button-right {
	background-color: #a98800;
	border-radius: 7px;
}

.nav-button-right a {
	color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 22px !important;
}

#navbarSupportedContent ul li a {
	color: #fff !important;
	padding: 8px 30px;
}

#navbarSupportedContent ul li .dropdown-menu {
	background-color: #01060c;
}

#navbarSupportedContent ul li .dropdown-menu a:hover{
	color: #01060c !important;
}

/* Header section */

.header-sec {
	background-image: url("../images/stars-universe.gif");
	height: 100%;
}

.header-sec .container{
	padding-top: 75px;
}

.header-sec h1{
	padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.header-sec p {
	padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 45px;
}

.header-sec .rocket {
	text-align: right;
}

.header-sec .rocket svg {
	padding-top: 20px;
}

/* about section */

.about-sec {
	background-color: #01060c;
	padding-top: 60px;
	padding-bottom: 50px;
}

.about-sec .first-col h1{
	padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.about-sec .first-col hr{
    border: 1px solid #fff;
    width: 50%;
    margin-left: 0;
    margin-bottom: 2rem;
    margin-top: 0;
}

.about-sec .first-col h4{
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
}

.about-sec .first-col p{
	padding-top: 20px;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    
}

.about-sec .first-col button{
	background-color: #a98800;
    border-radius: 7px;
}

.about-sec .first-col button a{
	color: #fff;
}

.about-sec .second-col img{
	width: 100%;
}

/* services section */

.services-sec {
	background-color: #01060c;
	padding-top: 20px;
	padding-bottom: 50px;
}

.services-sec .col-md-12{
	text-align: center;
}

.services-sec h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    padding-bottom: 0px;
}

.services-sec hr{
    border: 1px solid #fff;
    width: 30%;
    margin-bottom: 2rem;
    margin-top: 0;
}

.services-sec .card{
	width: 16rem !important;
	height: 385px;
	margin: 10px auto;
	background-color: #0c151f;
	box-shadow: 1px 1px 2px #a98800;	
}

.services-sec .card h5{
	color: #fff;
}

.services-sec .card p{
	color: #fff;
}

.services-sec .card img{
	width: 160px;
    margin: 0 auto;
}

.services-sec .card:hover{
	background-color: #a98800;
	box-shadow: 1px 1px 2px #0c151f;	
}

/* carousel section */
.carousel-sec {
	background-color: #01060c;
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel-sec .heading {
	text-align: center;
}

.carousel-sec .heading h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    padding-bottom: 0px;
}

.carousel-sec .heading hr{
    border: 1px solid #fff;
    width: 30%;
    margin-bottom: 2rem;
    margin-top: 0;
}

#MiCarousel{
    margin-top: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    background-color: #fff;
}

.carousel-img{
    background-color: #000;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;    
    z-index: 2;
    -webkit-clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    opacity: 0.8;
}

.div-r{
    padding: 40px;
}

.carousel-title{
    font-size: 80px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.carousel-pagination{
    background-color: #fff !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
    position: relative;
    bottom: -50px;
    opacity: 0.5;
}

.carousel-pagination.active{
    opacity: 1;   
}

.carousel-controls{
    display: none;
}

/* our-project */

.our-project {
	background-color: #01060c;
	padding-top: 50px;
	padding-bottom: 50px;
}

.our-project .heading{
    text-align: center;
}

.our-project h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 auto;
}

.our-project hr{
    border: 1px solid #fff;
    width: 30%;
    margin-bottom: 2rem;
    margin-top: 0;
}

.our-project .col-md-4{
    text-align: center;
}

.our-project .card{
    width: 22rem !important;
    transform: translateY(0px);
    transition-duration: 500ms;
    opacity: 1;
    display: inline-block;
    margin-bottom: 20px;
}

.our-project .card:hover {
  transform: translate(0rem, -2rem);
}

/* Our Team */

.team4 {
    color: #fff;
    font-weight: 300;
    background-color: #01060c;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.team4 hr{
    border: 1px solid #fff;
    width: 52%;
    margin-bottom: 2rem;
    margin-top: 0;
}

.team4 .font-weight-medium {
    font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .col-lg-4 .col-md-12 img {
	height: 300px;
    width: 300px;
}

.team4 .flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.team4 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.team4 .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
        font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

/* footer section */
.footer-sec {
	background-color: #01060c;
	padding-top: 50px;
	color: #fff;
}

.footer-sec .form-inline {
	padding: 10px 0px;
}

.footer-sec .form-inline .form-group {
	width: 45%;
	margin-bottom: 10px;
}

.footer-sec .form-inline .form-group input{
	width: 100%;
	border-radius: 0;
}

.footer-sec .form-inline .form-group input:first-child {
	margin-right: 10px;
}

.footer-sec .form-inline .button {
	width: 100%;
    display: block;
}

.footer-sec .form-inline .button input {
	width: 88%;
	background-color: #a98800;
    border: none;
    color: #fff;
    border-radius: 0;
}

.footer-sec .footer-bottom .first-col {
	display: flex;
}

.footer-sec .footer-bottom .first-col p {
	font-size: 12px;
    font-weight: 600;
    padding-right: 20px;
}

.footer-sec .footer-bottom .first-col p a {
	color: #fff;
	text-decoration: underline;
}

.footer-sec .footer-right ul {
	padding-left: 0;
}

.footer-sec .footer-right ul li{
	list-style-type: none;
	padding: 3px 0px
}

.footer-sec .footer-right ul li a{
	color: #fff;
}

.footer-bottom {
	padding: 35px 0px;
}

.footer-bottom .second-col ul li a{
	color: #fff;
}






