body {
	font-family: Intertight Variablefont Wght, sans-serif;
}

.navbar-expand-lg .navbar-brand {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
}
nav.navbar-expand-lg {
	background-color: #01060c;
}

.navbar-expand-lg .navbar-brand {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
}

.nav-button-right {
	background-color: #a98800;
	border-radius: 7px;
}

.nav-button-right a {
	color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 22px !important;
}

#navbarSupportedContent ul li a {
	color: #fff !important;
	padding: 8px 30px;
}

#navbarSupportedContent ul li .dropdown-menu {
	background-color: #01060c;
}

#navbarSupportedContent ul li .dropdown-menu a:hover{
	color: #01060c !important;
}

/* Header section */

.header-sec {
	background-image: url("../images/stars-universe.gif");
	height: 100%;
}

.header-sec .container{
	padding-top: 75px;
}

.header-sec h1{
	padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.header-sec p {
	padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 45px;
}

.header-sec .rocket {
	text-align: right;
}

.header-sec .rocket svg {
	padding-top: 20px;
}

/* about section */

.about-sec {
	background-color: #01060c;
	padding-top: 60px;
	padding-bottom: 50px;
}

.about-sec .first-col h1{
	padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.about-sec .first-col h4{
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
}

.about-sec .first-col p{
	padding-top: 20px;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    
}

.about-sec .first-col button{
	background-color: #a98800;
    border-radius: 7px;
}

.about-sec .first-col button a{
	color: #fff;
}

.about-sec .second-col img{
	width: 100%;
}

/* services section */

.services-sec {
	background-color: #01060c;
	padding-top: 20px;
	padding-bottom: 50px;
}

.services-sec .col-md-12{
	text-align: center;
}

.services-sec h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    padding-bottom: 20px;
}

.services-sec .card{
	width: 16rem !important;
	height: 380px;
	margin: 10px auto;
	background-color: #0c151f;
	box-shadow: 1px 1px 2px #a98800;	
}

.services-sec .card h5{
	color: #fff;
}

.services-sec .card p{
	color: #fff;
}

.services-sec .card img{
	width: 160px;
    margin: 0 auto;
}

.services-sec .card:hover{
	background-color: #a98800;
	box-shadow: 1px 1px 2px #0c151f;	
}
